@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,600);
body {
  color: #555;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif !important; }

a {
  -webkit-transition: color 150ms ease-in-out, background 150ms ease-in-out, border-color 150ms ease-in-out; }

.monospace, pre, code {
  font-family: Consolas, "Courier New", Courier, monospace;
  -webkit-font-smoothing: subpixel-antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

.notifier {
  overflow: hidden;
  background: #3a3333;
  border-bottom: 1px solid #453c3c; }

.notice.success {
  color: #7fb20d;
  background-color: #d0f67c;
  border-color: #6e9b0b; }
  .notice.success a {
    color: #5d8309;
    border-color: #a0e210; }
    .notice.success a:hover {
      color: #4c6b08;
      border-color: #8fca0e; }

.aui-editor-section .notice.success {
  height: 28px;
  color: #7fb20d !important;
  background-color: #d0f67c !important; }

.notice.error {
  color: #c9b505;
  background-color: #fae420;
  border-color: #c9b505; }
  .notice.error a {
    color: #978803;
    border-color: #b09f04; }
    .notice.error a:hover {
      color: #7e7203;
      border-color: #978803; }

.aui-editor-section .notice.error {
  height: 28px;
  color: #c9b505 !important;
  background-color: #fae420 !important; }

@-webkit-keyframes success {
  to {
    background-color: #3a3333;
    border-color: #453c3c;
    color: #9b9b9b; } }

@-webkit-keyframes successlink {
  to {
    color: #bdc3c3;
    border-color: #7c7c7c; } }

/* Internet Explorer */
@-ms-keyframes success {
  to {
    background-color: #3a3333;
    border-color: #453c3c;
    color: #9b9b9b; } }

@-ms-keyframes successlink {
  to {
    color: #bdc3c3;
    border-color: #7c7c7c; } }

/* Opera */
@-o-keyframes success {
  to {
    background-color: #3a3333;
    border-color: #453c3c;
    color: #9b9b9b; } }

@-o-keyframes successlink {
  to {
    color: #bdc3c3;
    border-color: #7c7c7c; } }

/* W3C */
@keyframes success {
  to {
    background-color: #3a3333;
    border-color: #453c3c;
    color: #9b9b9b; } }

@keyframes successlink {
  to {
    color: #bdc3c3;
    border-color: #7c7c7c; } }

.notice {
  position: relative;
  margin: 0;
  padding: 0.4rem 9rem 0.3rem 1.8rem;
  border-bottom: 0.1rem solid #514747;
  color: #9b9b9b;
  background: #423a3a;
  width: 100%;
  box-sizing: border-box; }

.notice a {
  color: #c4c0c0;
  border-bottom: 0.1rem solid rgba(189, 195, 195, 0.2);
  margin: 0 0.3rem; }

#header .notifier p {
  padding: 5px 15px;
  font-size: 13px; }

#header h1 {
  padding: 23px 15px;
  font-size: 16px;
  text-shadow: none;
  background: #342e2e; }
  #header h1:before {
    content: "●";
    position: relative;
    top: 1px;
    margin-right: 7px;
    color: #b40b51;
    font-size: 120%;
    line-height: 70%;
    text-shadow: none; }

#session li {
  padding: 0 .2rem; }
  #session li a {
    display: inline-block;
    position: relative;
    top: -17px;
    min-height: 2rem;
    padding: .35rem 1.35rem;
    font-size: 13px;
    line-height: 1.85;
    text-transform: capitalize;
    background: #423a3a;
    border: 2px solid #423a3a;
    border-radius: .4rem; }
    #session li a:hover {
      background: #4a4141;
      border-color: #4a4141; }
  #session li:last-child a {
    background: none;
    border: 2px solid #342e2e; }
    #session li:last-child a:hover {
      background: #191616;
      border: 2px solid #191616; }

#nav {
  position: absolute;
  float: none;
  padding: 0 10px;
  font-size: 13px;
  letter-spacing: .02em;
  background: white;
  border: none !important;
  box-shadow: 0 0 2px rgba(6, 8, 8, 0.15); }
  #nav li ul {
    border: none;
    border-radius: 0;
    box-shadow: none;
    left: 0;
    min-width: 150px;
    z-index: 3;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  #nav > ul > li:hover, #nav > ul > li.active:hover {
    color: #999999; }
  #nav ul li ul {
    background: white; }
    #nav ul li ul li {
      background: #f0f0f0; }
      #nav ul li ul li:hover {
        background: #f0f0f0; }
  #nav ul a {
    border: none !important;
    color: #999999;
    padding: 3px 10px; }
    #nav ul a:hover {
      color: #666666;
      background: #f0f0f0;
      border: none !important;
      text-shadow: none; }
  #nav ul ul li:last-child a {
    border-radius: 0; }
  #nav > ul {
    border: none;
    border-radius: 0; }
    #nav > ul > li {
      border: none;
      box-shadow: none;
      color: #999999;
      height: auto;
      padding: 5px 10px;
      text-shadow: none; }
      #nav > ul > li.active {
        background: #b3b3b3;
        text-shadow: none; }
        #nav > ul > li.active:hover {
          background: #f0f0f0; }
      #nav > ul > li:hover {
        color: #666666;
        background: #f0f0f0; }
        #nav > ul > li:hover:after {
          display: none; }
      #nav > ul > li > a {
        border: none; }
  #nav .content ul, #nav .structure ul {
    top: 41px; }

#nav > ul > li:hover, #nav > ul > li.active:hover {
  height: auto; }

#nav.wide ul.structure li ul {
  right: 0; }

#breadcrumbs a, #breadcrumbs span {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; }

#context {
  margin-top: 40px;
  padding: 30px 20px 25px 20px;
  background: white;
  box-shadow: none; }
  #context h2 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    color: #999999;
    font-size: 18px;
    position: relative;
    top: 6px; }
  #context nav {
    position: relative;
    margin-right: 5px;
    top: 6px; }
    #context nav p a {
      font-size: 18px;
      color: #5d5252; }
    #context nav p .sep {
      font-size: 18px; }
  #context .inactive span {
    color: #cccccc;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: relative;
    top: 10px; }
  #context .actions {
    top: 35px; }

#contents {
  padding-bottom: 5.5rem;
  background: white;
  border-top: none;
  box-shadow: 0 -1px 1px rgba(6, 8, 8, 0.07); }

#system-authors #contents {
  padding-bottom: 8.5rem; }

.primary.column, .secondary.column {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important; }

.page-single #contents .actions, .single #contents .actions {
  padding-top: 2.35rem; }

ul.tabs {
  top: 2.5rem; }
  ul.tabs li {
    border-color: #ededec; }
    ul.tabs li:hover {
      background: none;
      border-bottom: none; }

ul.tabs .selected, ul.tabs .invalid.selected, ul.tabs .invalid.selected:hover {
  border-color: #ededec;
  border-bottom: none; }

ul.tabs .selected:hover {
  border-bottom: 1px solid white; }

ul.tabs .selected::before, ul.tabs .selected::after {
  display: none; }

strong {
  font-weight: 600; }

input, textarea {
  height: auto;
  padding: .5rem;
  border-radius: .25em;
  font-size: 12px; }

textarea {
  color: #737373;
  font-family: Menlo;
  font-size: 14px; }

select {
  font-size: 22px; }

.apply select, .actions select {
  font-size: 11px; }

legend {
  font-size: 13px;
  font-weight: 600; }

fieldset.settings > legend + .help {
  margin-top: 2rem; }

#event-documentation, .frame-header, label {
  font-size: 13px; }

select[multiple] {
  font-family: 'Lucida Grande', Leelawadee, Tahoma, Verdana, sans-serif;
  font-size: 12px;
  border-radius: .25em; }

.dark.frame.single {
  border: none; }

.field-datetime header input {
  font-size: 12px; }

.field-datetime .frame header {
  padding: .7rem; }

.field-datetime .frame header div {
  padding: 0.5rem;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em; }

[data-interface^=aui-selector] .selectize-control {
  border-radius: .25em !important; }

[data-interface^=aui-selector] .selectize-input {
  font-family: 'Lucida Grande', Leelawadee, Tahoma, Verdana, sans-serif;
  font-size: 12px;
  border-radius: .25em !important; }
  [data-interface^=aui-selector] .selectize-input input {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

[data-interface^=aui-selector] .selectize-dropdown {
  border-radius: .25em; }

[data-interface^=aui-selector] .selectize-dropdown-content {
  font-family: 'Lucida Grande', Leelawadee, Tahoma, Verdana, sans-serif;
  font-size: 12px; }

.field.field-entry_url {
  font-family: 'Lucida Grande', Leelawadee, Tahoma, Verdana, sans-serif;
  font-size: 13px; }
  .field.field-entry_url label {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; }
  .field.field-entry_url .frame {
    border-radius: .25em; }
  .field.field-entry_url .frame a {
    font-size: 13px; }

#event-documentation pre, #event-documentation pre code, .frame {
  border-radius: .25em; }

input[type=submit], button, .button, .apply-button-left, .apply-button-right, .apply-label-left, .apply-label-right {
  padding: .35rem 1.35rem;
  background: white;
  border: none;
  box-shadow: none;
  color: #b3b3b3;
  border: .2rem solid rgba(0, 0, 0, 0.15);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal; }

input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus, button:hover, button:active, button:focus, .button:hover, .button:active, .button:focus {
  background-image: none;
  border-color: rgba(0, 0, 0, 0.25);
  color: #999999;
  cursor: pointer; }

input[type=submit].selected, button.selected, .button.selected {
  box-shadow: none;
  background: none;
  border-color: rgba(0, 0, 0, 0.4);
  text-shadow: none;
  border-color: rgba(0, 0, 0, 0.4); }

textarea[disabled=disabled], textarea[disabled=disabled]:hover, textarea[disabled=disabled]:active, textarea[disabled=disabled]:focus, textarea[readonly=readonly], textarea[readonly=readonly]:hover, textarea[readonly=readonly]:active, textarea[readonly=readonly]:focus, input[type=submit][disabled=disabled]:hover, input[type=submit][disabled=disabled]:active, input[type=submit][disabled=disabled]:focus, input[readonly=readonly], input[readonly=readonly]:hover, input[readonly=readonly]:active, input[readonly=readonly]:focus, button[disabled=disabled], button[disabled=disabled]:hover, button[disabled=disabled]:active, button[disabled=disabled]:focus {
  cursor: not-allowed;
  opacity: 0.5; }

/* Create buttons */
button.create, .button.create {
  color: #8fca0e;
  background: none;
  border-color: #8fca0e; }

button.create:hover, button.create:active, button.create:focus, .button.create:hover, .button.create:active, .button.create:focus {
  color: white;
  background: #8fca0e;
  border-color: #8fca0e; }

/* Delete buttons */
button.delete, .button.delete {
  color: #ff3b30;
  background: white;
  border-color: #ff3b30; }

button.delete:hover, button.delete:active, button.delete:focus, .button.delete:hover, .button.delete:active, .button.delete:focus {
  color: white;
  background: #ff3b30;
  border-color: #ff3b30; }

/* Installer */
.submit input {
  margin-top: 1.5rem; }

/* "With selected…" menu */
.apply, .apply.inactive:hover {
  background: #fbfbfa;
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
  border-radius: 0.4rem;
  display: block;
  float: right;
  height: 1.85em;
  margin: 0;
  min-height: 2rem;
  padding: 0; }

.apply.inactive {
  opacity: 0.5; }

.apply div {
  text-align: left;
  overflow: hidden;
  float: left;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAwCAYAAADHEYBIAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAORJREFUeNpiYIAAHiDuBmJWEOf///9YMRNUcRUQOwJxJgMeAFLsBcRuUH4cEFvhUsyITRBkJS6TiQYgxb5AfAYJW+FTvBmId0H5i4D4GCEbiAo6RlyeoYoHRxUPacWMjIwMQMwKxBZADOYTMtkQiKWAWIuQM+SAWAbKVwNicfrnQRYglgdiYySxo0D8EpfJD4H4CZR/C5dCZADKexYwZ43mwVHF5OZBEC3DCAEETZYEYl4gFiXkDH4g5oPyhaFVxgDkQX5omQEDj4H4Cy6TPwLxJyj/LS6FMJNB4DnU/a/xOQMgwACLFl2Yo1jbdgAAAABJRU5ErkJggg==);
  background-position: right -1.4rem; }

.apply:hover div {
  background-position: right 0.6rem; }

.apply.inactive div {
  background: right -3.4rem; }

.apply select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0.5rem;
  color: #3c3c3c;
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  margin: 0.2rem 0 0 0;
  outline: none;
  padding: 0 0 0 0.7rem;
  width: 110% !important;
  min-width: 17rem; }

.apply.inactive select {
  cursor: default; }

.apply select:hover {
  background-position: right -1.6rem; }

.apply button, .apply-button-right, .apply-button-left, .apply-label-right, .apply-label-left {
  margin: 0;
  padding: 0 1rem;
  border: none;
  border-left: 0.1rem solid rgba(0, 0, 0, 0.15);
  border-right: none;
  border-radius: 0 0.4rem 0.4rem 0;
  line-height: 1.85;
  height: 1.85rem;
  float: right;
  font-family: 'Lucida Grande', Leelawadee, Tahoma, Verdana, sans-serif;
  font-size: 1em;
  text-transform: none; }

.apply-button-left, .apply-label-left {
  float: left;
  border-left: none;
  border-right: 0.1rem solid rgba(0, 0, 0, 0.15);
  border-radius: 0.4rem 0 0 0.4rem; }

.apply.inactive button, .apply.inactive button:hover {
  color: rgba(60, 60, 60, 0.8);
  border-left: 0.1rem solid rgba(0, 0, 0, 0.15);
  box-shadow: none;
  cursor: default; }

.apply:hover button {
  border-left: 0.1rem solid rgba(0, 0, 0, 0.25); }

/* Single select "With selected…" */
.apply.single {
  border: none; }

.apply.single select {
  display: none; }

.apply.single button {
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
  border-bottom-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
  height: auto;
  white-space: nowrap; }

.apply.single button:before {
  display: none; }

/* Inline buttons, aligned left */
fieldset input[type=submit], fieldset button, fieldset .button {
  margin-left: 0;
  margin-right: 1rem; }

.filtering .selectize-input {
  padding: 0 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  height: 2.2rem;
  background: #fff;
  color: rgba(85, 85, 85, 0.95);
  font-family: 'Lucida Grande', Leelawadee, Tahoma, Verdana, sans-serif;
  font-size: 1em;
  line-height: 2rem; }

.filtering-search .selectize-input.has-items {
  background: #fafafa; }

#drawer-filtering {
  margin-top: 30px; }

table thead {
  font-size: 13px; }
  table thead th {
    padding: 10px 0; }
  table thead th, table thead a {
    font-weight: 600; }
table tbody {
  font-size: 13px; }

th:last-child, td:last-child {
  padding-right: 19px; }

.collapsible header.frame-header {
  -webkit-box-shadow: 0 .1rem .4rem #e5e5e5;
  box-shadow: 0 .1rem .4rem #e5e5e5; }

.collapsible .content {
  background: #f5f5f5; }

.duplicator ol {
  border-radius: .25em; }

.multiupload-drop, .multiupload-files .instance:first-of-type {
  border-top-left-radius: .25em;
  border-top-right-radius: .25rem; }

ul.tags li, ul.tags li:first-of-type, ul.tags li:last-of-type {
  font-size: 13px; }

p.intro {
  padding-top: 2em;
  color: #b3b3b3;
  font-size: 13px; }

#version {
  font-size: 13px; }

ul.page li {
  font-size: 13px; }
