* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility !important;
  -webkit-text-size-adjust: none !important;
}

body {
  color: #555;
  font-family: $font-sans !important;
  text-rendering: optimizeLegibility !important;
  -webkit-text-size-adjust: none !important;
}

a {
  -webkit-transition: color 150ms ease-in-out, background 150ms ease-in-out, border-color 150ms ease-in-out;
}