$color-symphony: #b40b51;
$color-header: #423a3a;
$color-accent: #999;
$color-white: #ffffff;
$color-black: #000000;
$color-create: #C7F464;
$color-success: $color-create;
$color-failure: #ff3b30;
$color-warning: #fae420;

$font-sans: 'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-mono: Menlo, monospace;