
// GOOGLE FONTS
// -------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,600);

// VARIABLES
// -------------------------------------------------

$color-header: #342e2e;
$color-symphony: #b40b51;
$color-header: #423a3a;
$color-accent: #999;
$color-white: #ffffff;
$color-black: #000000;
$color-create: #C7F464;
$color-success: $color-create;
$color-failure: #ff3b30;
$color-warning: #fae420;
// $color-links: #3f69a5;

$sans: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$default: 'Lucida Grande',Leelawadee,Tahoma,Verdana,sans-serif;

// GLOBALS
// -------------------------------------------------

body {
  color: #555;
  font-family: $sans !important;
}

a {
  -webkit-transition: color 150ms ease-in-out, background 150ms ease-in-out, border-color 150ms ease-in-out;
}

.monospace, pre, code {
  font-family: Consolas, "Courier New", Courier, monospace;
  -webkit-font-smoothing: subpixel-antialiased
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

// NOTICES
// -------------------------------------------------

.notifier {
  overflow: hidden;
  background: darken($color-header, 3%);
  border-bottom: 1px solid lighten($color-header, 1%);
}

.notice.success {
  color: darken($color-create, 30%);
  background-color: lighten($color-create, 5%);
  border-color: darken($color-create, 35%);

  a {
    color: darken($color-create, 40%);
    border-color: darken($color-create, 20%);

    &:hover {
      color: darken($color-create, 45%);
      border-color: darken($color-create, 25%);
    }
  }
}

.aui-editor-section .notice.success {
  height: 28px;
  color: darken($color-create, 30%) !important;
  background-color: lighten($color-create, 5%) !important;
}

// error

.notice.error {
  color: darken($color-warning, 15%);
  background-color: $color-warning;
  border-color: darken($color-warning, 15%);

  a {
    color: darken($color-warning, 25%);
    border-color: darken($color-warning, 20%);

    &:hover {
      color: darken($color-warning, 30%);
      border-color: darken($color-warning, 25%);
    }
  }

}

.aui-editor-section .notice.error {
  height: 28px;
  color: darken($color-warning, 15%) !important;
  background-color: $color-warning !important;
}

@-webkit-keyframes success {
  to {
    background-color: darken($color-header, 3%);
    border-color: lighten($color-header, 1%);
    color: #9b9b9b;
  }
}
@-webkit-keyframes successlink {
  to {
    color: #bdc3c3;
    border-color: #7c7c7c;
  }
}

/* Internet Explorer */

@-ms-keyframes success {
  to {
    background-color: darken($color-header, 3%);
    border-color: lighten($color-header, 1%);
    color: #9b9b9b;
  }
}

@-ms-keyframes successlink {
  to {
    color: #bdc3c3;
    border-color: #7c7c7c;
  }
}

/* Opera */

@-o-keyframes success {
  to {
    background-color: darken($color-header, 3%);
    border-color: lighten($color-header, 1%);
    color: #9b9b9b;
  }
}

@-o-keyframes successlink {
  to {
    color: #bdc3c3;
    border-color: #7c7c7c;
  }
}

/* W3C */

@keyframes success {
  to {
    background-color: darken($color-header, 3%);
    border-color: lighten($color-header, 1%);
    color: #9b9b9b;
  }
}

@keyframes successlink {
  to {
    color: #bdc3c3;
    border-color: #7c7c7c;
  }
}

.notice {
  position: relative;
  margin: 0;
  padding: 0.4rem 9rem 0.3rem 1.8rem;
  border-bottom: 0.1rem solid #514747;
  color: #9b9b9b;
  background: $color-header;
  width: 100%;
  box-sizing: border-box;
}

.notice a {
  color: #c4c0c0;
  border-bottom: 0.1rem solid rgba(189, 195, 195, 0.2);
  margin: 0 0.3rem;
}


// HEADER
// -------------------------------------------------

#header .notifier p {
  padding: 5px 15px;
  font-size: 13px;
}

#header h1 {
  padding: 23px 15px;
  font-size: 16px;
  text-shadow: none;
  background: darken($color-header, 5%);

  &:before {
    content: "●";
    position: relative;
    top: 1px;
    margin-right: 7px;
    color: $color-symphony;
    font-size: 120%;
    line-height: 70%;
    text-shadow: none;
  }
}

#session li {
  padding: 0 .2rem;

  a {
    display: inline-block;
    position: relative;
    top: -17px;
    min-height: 2rem;
    padding: .35rem 1.35rem;
    font-size: 13px;
    line-height: 1.85;
    text-transform: capitalize;
    background: $color-header;
    border: 2px solid $color-header;
    border-radius: .4rem;

    &:hover {
      background: lighten($color-header, 3%);
      border-color: lighten($color-header, 3%)
    }
  }
  &:last-child a {
    background: none;
    border: 2px solid darken($color-header, 5%);

    &:hover {
      background: darken($color-header, 15%);
      border: 2px solid darken($color-header, 15%);
    }
  }

}


// NAV
// -------------------------------------------------

#nav {
  position: absolute;
  float: none;
  padding: 0 10px;
  font-size: 13px;
  letter-spacing: .02em;
  background: white;
  border: none !important;
  box-shadow: 0 0 2px rgba(6,8,8,.15);

  li ul {
    border: none;
    border-radius: 0;
    box-shadow: none;
    left: 0;
    min-width: 150px;
    z-index: 3;
    box-shadow: 0 1px 1px rgba(0,0,0,0.10);
  }

  & > ul > li:hover,
  & > ul > li.active:hover {
    color: lighten($color-black, 60%);
  }

  ul li {

    ul {
      background: white;

      li {
        background: darken(white, 6%);

        &:hover {
          background: darken(white, 6%);
        }
      }
    }
  }

  ul a {
    border: none !important;
    color: lighten($color-black, 60%);
    padding: 3px 10px;

    &:hover {
      color: lighten($color-black, 40%);
      background: darken(white, 6%);
      border: none !important;
      text-shadow: none;
    }
  }

  ul ul li:last-child a {
    border-radius: 0;
  }

  & > ul {
    border: none;
    border-radius: 0;

    & > li {
      border: none;
      box-shadow: none;
      color: lighten($color-black, 60%);
      height: auto;
      padding: 5px 10px;
      text-shadow: none;

      &.active {
        background: lighten($color-accent, 10%);
        text-shadow: none;

        &:hover {
          background: darken(white, 6%);
        }
      }

      &:hover {
        color: lighten($color-black, 40%);
        background: darken(white, 6%);

        &:after {
          display: none;
        }
      }

      > a {
        border: none;
      }
    }
  }

  .content,
  .structure {

    ul {
      top: 41px;
    }

  }


}

#nav > ul > li:hover, #nav > ul > li.active:hover {
  height: auto;
}

#nav.wide ul.structure li ul {
  right: 0;
}

// CONTEXT
// -------------------------------------------------

#breadcrumbs a, #breadcrumbs span {
  font-family: $sans;
}

#context {
  margin-top: 40px;
  padding: 30px 20px 25px 20px;
  background: white;
  box-shadow: none;

  h2 {
    font-family: $sans !important;
    color: darken(white, 40%);
    font-size: 18px;
    position: relative;
    top: 6px;
  }

  nav {
    position: relative;
    margin-right: 5px;
    top: 6px;

    p a {
      font-size: 18px;
      color: lighten($color-header, 10%);
    }

    p .sep {
      font-size: 18px;
    }
  }

  .inactive {

    span {
      color: darken(white, 20%);
      font-family: $sans;
      position: relative;
      top: 10px;
    }

  }

  .actions {
    top: 35px;
  }
}

// CONTENTS
// -------------------------------------------------

#contents {
  padding-bottom: 5.5rem;
  background: white;
  border-top: none;
  box-shadow: 0 -1px 1px rgba(6,8,8,.07);
}

#system-authors #contents {
  padding-bottom: 8.5rem;
}

.primary.column,
.secondary.column {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.page-single #contents .actions,
.single #contents .actions {
  padding-top: 2.35rem;
}

// TABS
// -------------------------------------------------

ul.tabs {
  top: 2.5rem;

  li {
    border-color: #ededec;

    &:hover {
      background: none;
      border-bottom: none;
    }
  }
}

ul.tabs .selected,
ul.tabs .invalid.selected,
ul.tabs .invalid.selected:hover {
  border-color: #ededec;
  border-bottom: none;
}

ul.tabs .selected:hover {
  border-bottom: 1px solid white;
}

ul.tabs .selected::before,
ul.tabs .selected::after {
  display: none;
}

// FORMS
// -------------------------------------------------

strong {
  font-weight: 600;
}

input,
textarea {
  height: auto;
  padding: .5rem;
  border-radius: .25em;
  font-size: 12px;
}

textarea {
  color: lighten(black, 45%);
  font-family: Menlo;
  font-size: 14px;
}

select {
  font-size: 22px;
}

.apply select,
.actions select {
  font-size: 11px;
}


legend {
  font-size: 13px;
  font-weight: 600;
}

fieldset.settings>legend+.help {
  margin-top: 2rem;
}

#event-documentation,
.frame-header,
label {
  font-size: 13px;
}

select[multiple] {
  font-family: $default;
  font-size: 12px;
  border-radius: .25em;
}

.dark.frame.single {
  border: none;
}

.field-datetime header input {
  font-size: 12px;
}

.field-datetime .frame header {
  padding: .7rem;
}

.field-datetime .frame header div {
  padding: 0.5rem;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

[data-interface^=aui-selector] .selectize-control {
  border-radius: .25em !important;
}

[data-interface^=aui-selector] .selectize-input {
  font-family: $default;
  font-size: 12px;
  border-radius: .25em !important;

  input {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

[data-interface^=aui-selector] .selectize-dropdown {
  border-radius: .25em;
}

[data-interface^=aui-selector] .selectize-dropdown-content {
  font-family: $default;
  font-size: 12px;
}

.field.field-entry_url {
  font-family: $default;
  font-size: 13px;

  label {
    font-family: $sans;
  }

  .frame {
    border-radius: .25em;
  }

  .frame a {
    font-size: 13px;
  }
}

#event-documentation pre,
#event-documentation pre code,
.frame {
  border-radius: .25em;
}

// BUTTONS
// -------------------------------------------------

input[type=submit],
button,
.button,
.apply-button-left,
.apply-button-right,
.apply-label-left,
.apply-label-right {
  padding: .35rem 1.35rem;
  background: white;
  border: none;
  box-shadow: none;
  color: darken(white, 30%);
  border: .2rem solid rgba(0, 0, 0, 0.15);
  font-family: $sans;
  font-size: 13px;
  font-weight: normal;
}

input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus,
button:hover,
button:active,
button:focus,
.button:hover,
.button:active,
.button:focus {
  background-image: none;
  border-color: rgba(0, 0, 0, 0.25);
  color: darken(white, 40%);
  cursor: pointer;
}

input[type=submit].selected,
button.selected,
.button.selected {
  box-shadow: none;
  background: none;
  border-color: rgba(0, 0, 0, 0.4);
  text-shadow: none;
  border-color: rgba(0, 0, 0, 0.4);
}

textarea[disabled=disabled],
textarea[disabled=disabled]:hover,
textarea[disabled=disabled]:active,
textarea[disabled=disabled]:focus,
textarea[readonly=readonly],
textarea[readonly=readonly]:hover,
textarea[readonly=readonly]:active,
textarea[readonly=readonly]:focus,
input[type=submit][disabled=disabled]:hover,
input[type=submit][disabled=disabled]:active,
input[type=submit][disabled=disabled]:focus,
input[readonly=readonly],
input[readonly=readonly]:hover,
input[readonly=readonly]:active,
input[readonly=readonly]:focus,
button[disabled=disabled],
button[disabled=disabled]:hover,
button[disabled=disabled]:active,
button[disabled=disabled]:focus {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Create buttons */

button.create,
.button.create {
  color: darken($color-create, 25%);
  background: none;
  border-color: darken($color-create, 25%);
}

button.create:hover,
button.create:active,
button.create:focus,
.button.create:hover,
.button.create:active,
.button.create:focus {
  color: white;
  background: darken($color-create, 25%);
  border-color: darken($color-create, 25%);
}

/* Delete buttons */

button.delete,
.button.delete {
  color: $color-failure;
  background: white;
  border-color: $color-failure;
}

button.delete:hover,
button.delete:active,
button.delete:focus,
.button.delete:hover,
.button.delete:active,
.button.delete:focus {
  color: white;
  background: $color-failure;
  border-color: $color-failure;
}

/* Installer */

.submit input {
  margin-top: 1.5rem;
}

/* "With selected…" menu */

.apply,
.apply.inactive:hover {
  background: #fbfbfa;
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
  border-radius: 0.4rem;
  display: block;
  float: right;
  height: 1.85em;
  margin: 0;
  min-height: 2rem;
  padding: 0;
}

.apply.inactive {
  opacity: 0.5;
}

.apply div {
  text-align: left;
  overflow: hidden;
  float: left;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAwCAYAAADHEYBIAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAORJREFUeNpiYIAAHiDuBmJWEOf///9YMRNUcRUQOwJxJgMeAFLsBcRuUH4cEFvhUsyITRBkJS6TiQYgxb5AfAYJW+FTvBmId0H5i4D4GCEbiAo6RlyeoYoHRxUPacWMjIwMQMwKxBZADOYTMtkQiKWAWIuQM+SAWAbKVwNicfrnQRYglgdiYySxo0D8EpfJD4H4CZR/C5dCZADKexYwZ43mwVHF5OZBEC3DCAEETZYEYl4gFiXkDH4g5oPyhaFVxgDkQX5omQEDj4H4Cy6TPwLxJyj/LS6FMJNB4DnU/a/xOQMgwACLFl2Yo1jbdgAAAABJRU5ErkJggg==);
  background-position: right -1.4rem;
}

.apply:hover div {
  background-position: right 0.6rem;
}

.apply.inactive div {
  background: right -3.4rem;
}

.apply select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0.5rem;
  color: rgb(60, 60, 60);
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  margin: 0.2rem 0 0 0;
  outline: none;
  padding: 0 0 0 0.7rem;
  width: 110% !important;
  min-width: 17rem;
}

.apply.inactive select {
  cursor: default;
}

.apply select:hover {
  background-position: right -1.6rem;
}

.apply button,
.apply-button-right,
.apply-button-left,
.apply-label-right,
.apply-label-left {
  margin: 0;
  padding: 0 1rem;
  border: none;
  border-left: 0.1rem solid rgba(0, 0, 0, 0.15);
  border-right: none;
  border-radius: 0 0.4rem 0.4rem 0;
  line-height: 1.85;
  height: 1.85rem;
  float: right;
  font-family: $default;
  font-size: 1em;
  text-transform: none;
}

.apply-button-left,
.apply-label-left {
  float: left;
  border-left: none;
  border-right: 0.1rem solid rgba(0, 0, 0, 0.15);
  border-radius: 0.4rem 0 0 0.4rem;
}

.apply.inactive button,
.apply.inactive button:hover {
  color: rgba(60, 60, 60, 0.8);
  border-left: 0.1rem solid rgba(0, 0, 0, 0.15);
  box-shadow: none;
  cursor: default;
}

.apply:hover button {
  border-left: 0.1rem solid rgba(0, 0, 0, 0.25);
}

/* Single select "With selected…" */

.apply.single {
  border: none;
}

.apply.single select {
  display: none;
}

.apply.single button {
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
  border-bottom-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
  height: auto;
  white-space: nowrap;
}

.apply.single button:before {
  display: none;
}

/* Inline buttons, aligned left */

fieldset input[type=submit],
fieldset button,
fieldset .button {
  margin-left: 0;
  margin-right: 1rem;
}

// FILTERING
// -------------------------------------------------

.filtering .selectize-input {
  padding: 0 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  height: 2.2rem;
  background: #fff;
  color: rgba(85, 85, 85, 0.95);
  font-family: $default;
  font-size: 1em;
  line-height: 2rem;
}

.filtering-search .selectize-input.has-items {
  background: darken(white, 2%);
}

#drawer-filtering {
  margin-top: 30px;
}


// TABLES
// -------------------------------------------------

table {
  thead {
    font-size: 13px;

    th {
      padding: 10px 0;
    }

    th, a {
      font-weight: 600;
    }
  }
  tbody {
    font-size: 13px;
  }
}

th:last-child,
td:last-child {
  padding-right: 19px;
}


// COLLAPSIBLE
// -------------------------------------------------

.collapsible header.frame-header {
  -webkit-box-shadow: 0 .1rem .4rem #e5e5e5;
  box-shadow: 0 .1rem .4rem #e5e5e5;
}

.collapsible .content {
  background: #f5f5f5;
}

// DUPLICATOR
// -------------------------------------------------

.duplicator ol {
  border-radius: .25em;
}

.multiupload-drop,
.multiupload-files .instance:first-of-type {
  border-top-left-radius: .25em;
  border-top-right-radius: .25rem;
}


// TAGS
// -------------------------------------------------

ul.tags li,
ul.tags li:first-of-type,
ul.tags li:last-of-type {
  font-size: 13px;
}


// FOOTER
// -------------------------------------------------

#version {
  font-size: 13px;
}

ul.page li {
  font-size: 13px;
}