
// VARIABLES
// -------------------------------------------------

$color-header: #342e2e;
$color-symphony: #b40b51;
$color-header: #423a3a;
$color-accent: #999;
$color-white: #ffffff;
$color-black: #000000;
$color-create: #C7F464;
$color-success: $color-create;
$color-failure: #ff3b30;
$color-warning: #fae420;
// $color-links: #3f69a5;

$sans: 'Helvetica Neue', Arial, Helvetica, sans-serif;
$default: 'Lucida Grande',Leelawadee,Tahoma,Verdana,sans-serif;

// GLOBALS
// -------------------------------------------------

body {
  color: #555;
  font-family: $sans !important;
}

a {
  -webkit-transition: color 150ms ease-in-out, background 150ms ease-in-out, border-color 150ms ease-in-out;
}

.monospace, pre, code {
  font-family: Consolas, "Courier New", Courier, monospace;
  -webkit-font-smoothing: subpixel-antialiased
}

h1,
h2,
h3
nav,
#nav ul li {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

// NOTICES
// -------------------------------------------------

.notifier {
  overflow: hidden;
  background: darken($color-header, 3%);
  border-bottom: 1px solid lighten($color-header, 1%);
}

.notice.success {
  background-color: lighten($color-create, 5%);
  color: darken($color-create, 30%);
  border-color: darken($color-create, 35%);

  a {
    color: darken($color-create, 40%);
    border-color: darken($color-create, 20%);

    &:hover {
      color: darken($color-create, 45%);
      border-color: darken($color-create, 25%);
    }
  }

}

// error

.notice.error {
  background-color: $color-warning;
  color: darken($color-warning, 15%);
  border-color: darken($color-warning, 15%);

  a {
    color: darken($color-warning, 25%);
    border-color: darken($color-warning, 20%);

    &:hover {
      color: darken($color-warning, 30%);
      border-color: darken($color-warning, 25%);
    }
  }

}

@-webkit-keyframes success {
  to {
    background-color: darken($color-header, 3%);
    border-color: lighten($color-header, 1%);
    color: #9b9b9b;
  }
}
@-webkit-keyframes successlink {
  to {
    color: #bdc3c3;
    border-color: #7c7c7c;
  }
}

/* Internet Explorer */

@-ms-keyframes success {
  to {
    background-color: darken($color-header, 3%);
    border-color: lighten($color-header, 1%);
    color: #9b9b9b;
  }
}

@-ms-keyframes successlink {
  to {
    color: #bdc3c3;
    border-color: #7c7c7c;
  }
}

/* Opera */

@-o-keyframes success {
  to {
    background-color: darken($color-header, 3%);
    border-color: lighten($color-header, 1%);
    color: #9b9b9b;
  }
}

@-o-keyframes successlink {
  to {
    color: #bdc3c3;
    border-color: #7c7c7c;
  }
}

/* W3C */

@keyframes success {
  to {
    background-color: darken($color-header, 3%);
    border-color: lighten($color-header, 1%);
    color: #9b9b9b;
  }
}

@keyframes successlink {
  to {
    color: #bdc3c3;
    border-color: #7c7c7c;
  }
}

.notice {
  position: relative;
  margin: 0;
  padding: 0.4rem 9rem 0.3rem 1.8rem;
  border-bottom: 0.1rem solid #514747;
  color: #9b9b9b;
  background: $color-header;
  width: 100%;
  box-sizing: border-box;
}

.notice a {
  color: #c4c0c0;
  border-bottom: 0.1rem solid rgba(189, 195, 195, 0.2);
  margin: 0 0.3rem;
}


// HEADER
// -------------------------------------------------

#header .notifier p {
  padding: 5px 15px;
  font-size: 12px;
}

#header h1 {
  padding: 23px 15px;
  font-size: 16px;
  text-shadow: none;
  background: darken($color-header, 5%);

  &:before {
    content: "●";
    position: relative;
    top: 1px;
    margin-right: 7px;
    color: $color-symphony;
    font-size: 120%;
    line-height: 70%;
    text-shadow: none;
  }
}

#session li {

  a {
    background: $color-header;
    border-radius: 5px;
    font-size: 12px;
    padding: 7px 15px;
    position: relative;
    text-transform: capitalize;
    top: -10px;

    &:hover {
      background: lighten($color-header, 3%);
    }
  }
  &:last-child a {
    background: darken($color-header, 10%);
    font-weight: bold;

    &:hover {
      background: darken($color-header, 13%);
    }
  }

}


// NAV
// -------------------------------------------------

#nav {
  background: white;
  border: none !important;
  box-shadow: 0 0 2px rgba(6,8,8,.15);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .02em;
  padding: 0 10px;

  li ul {
    border: none;
    border-radius: 0;
    box-shadow: none;
    left: 0;
    min-width: 150px;
    z-index: 3;
    box-shadow: 0 1px 1px rgba(0,0,0,0.10);
  }

  & > ul > li:hover,
  & > ul > li.active:hover {
    color: lighten($color-black, 60%);
  }

  ul li {

    ul {
      background: white;

      li {
        background: darken(white, 6%);

        &:hover {
          background: darken(white, 6%);
        }
      }
    }
  }

  ul a {
    border: none !important;
    color: lighten($color-black, 60%);
    font-weight: bold;
    padding: 3px 10px;

    &:hover {
      color: lighten($color-black, 40%);
      background: darken(white, 6%);
      border: none !important;
      text-shadow: none;
    }
  }

  ul ul li:last-child a {
    border-radius: 0;
  }

  & > ul {
    border: none;
    border-radius: 0;

    & > li {
      border: none;
      box-shadow: none;
      color: lighten($color-black, 60%);
      height: auto;
      padding: 5px 10px;
      text-shadow: none;

      &.active {
        background: $color-accent;
        text-shadow: none;

        &:hover {
          background: darken(white, 6%);
        }
      }

      &:hover {
        color: lighten($color-black, 40%);
        background: darken(white, 6%);

        &:after {
          display: none;
        }
      }

      > a {
        border: none;
      }
    }
  }

  .content,
  .structure {

    ul {
      top: 41px;
    }

  }


}

#nav > ul > li:hover, #nav > ul > li.active:hover {
  height: auto;
}

#nav.wide ul.structure li ul {
  right: 0;
}

// CONTEXT
// -------------------------------------------------

#breadcrumbs a, #breadcrumbs span {
  font-family: $sans;
}

#context {
  background: white;
  box-shadow: none;
  padding: 30px 20px 20px 20px;

  h2 {
    font-family: $sans !important;
    color: darken(white, 40%);
    font-size: 18px;
    position: relative;
    top: 6px;
  }

  nav {
    position: relative;
    margin-right: 5px;
    top: 6px;

    p a {
      font-size: 18px;
      color: lighten($color-header, 10%);
    }

    p .sep {
      font-size: 18px;
    }
  }

  .inactive {

    span {
      color: darken(white, 20%);
      font-family: $sans;
      position: relative;
      top: 10px;
    }

  }

  .actions {
    top: 35px;
  }
}

// CONTENTS
// -------------------------------------------------

#contents {
  padding-bottom: 7rem;
  background: white;
  border-top: none;
  box-shadow: 0 -1px 1px rgba(6,8,8,.07);
}

.primary.column,
.secondary.column {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.page-single #contents .actions,
.single #contents .actions {
  padding-top: 3rem;
}

// TABS
// -------------------------------------------------

ul.tabs {
  top: 2rem;

  li {
    border-color: #ededec;

    &:hover {
      background: none;
      border-bottom: none;
    }
  }
}

ul.tabs .selected,
ul.tabs .invalid.selected,
ul.tabs .invalid.selected:hover {
  border-color: #ededec;
  border-bottom: none;
}

ul.tabs .selected:hover {
  border-bottom: 1px solid white;
}

ul.tabs .selected::before,
ul.tabs .selected::after {
  display: none;
}

// FORMS
// -------------------------------------------------

input,
textarea {
  height: auto;
  padding: 0.5rem;
}

textarea {
  color: lighten(black, 45%);
  font-family: "Menlo", Monaco, monospaced;
  font-size: 14px;
  line-height: 1.3;
}

legend {
  font-size: 12px;
}

fieldset.settings>legend+.help {
  margin-top: 2rem;
}

.frame-header {
  font-size: 12px;
}

label {
  font-size: 12px;
}

select[multiple] {
  font-family: $default;
  font-size: 12px;
}

// BUTTONS
// -------------------------------------------------

input[type=submit],
button,
.button,
.apply-button-left,
.apply-button-right,
.apply-label-left,
.apply-label-right {
  padding: 0.25rem 1rem;
  background: white;
  border: none;
  box-shadow: none;
  color: darken(white, 30%);
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-family: $sans;
  font-size: 12px;
  letter-spacing: .02em;
}

input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus,
button:hover,
button:active,
button:focus,
.button:hover,
.button:active,
.button:focus {
  background-image: none;
  border-color: rgba(0, 0, 0, 0.25);
  color: darken(white, 40%);
  cursor: pointer;
}

input[type=submit].selected,
button.selected,
.button.selected {
  box-shadow: none;
  background: none;
  border-color: rgba(0, 0, 0, 0.4);
  text-shadow: none;
  border-color: rgba(0, 0, 0, 0.4);
}

textarea[disabled=disabled],
textarea[disabled=disabled]:hover,
textarea[disabled=disabled]:active,
textarea[disabled=disabled]:focus,
textarea[readonly=readonly],
textarea[readonly=readonly]:hover,
textarea[readonly=readonly]:active,
textarea[readonly=readonly]:focus,
input[type=submit][disabled=disabled]:hover,
input[type=submit][disabled=disabled]:active,
input[type=submit][disabled=disabled]:focus,
input[readonly=readonly],
input[readonly=readonly]:hover,
input[readonly=readonly]:active,
input[readonly=readonly]:focus,
button[disabled=disabled],
button[disabled=disabled]:hover,
button[disabled=disabled]:active,
button[disabled=disabled]:focus {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Create buttons */

button.create,
.button.create {
  color: darken($color-create, 29%);
  background: lighten($color-create, 10%);
  border-color: darken($color-create, 25%);
}

button.create:hover,
button.create:active,
button.create:focus,
.button.create:hover,
.button.create:active,
.button.create:focus {
  color: darken($color-create, 35%);
  background: $color-create;
  border-color: darken($color-create, 30%);
}

/* Delete buttons */

button.delete,
.button.delete {
  color: $color-failure;
  background: white;
  border-color: $color-failure;
}

button.delete:hover,
button.delete:active,
button.delete:focus,
.button.delete:hover,
.button.delete:active,
.button.delete:focus {
  color: white;
  background: $color-failure;
  border-color: $color-failure;
}

/* Installer */

.submit input {
  margin-top: 1.5rem;
}

/* "With selected…" menu */

.apply,
.apply.inactive:hover {
  background: #fbfbfa;
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
  border-radius: 0.4rem;
  display: block;
  float: right;
  height: 1.85em;
  margin: 0;
  min-height: 2rem;
  padding: 0;
}

.apply.inactive {
  opacity: 0.5;
}

.apply div {
  text-align: left;
  overflow: hidden;
  float: left;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAwCAYAAADHEYBIAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAORJREFUeNpiYIAAHiDuBmJWEOf///9YMRNUcRUQOwJxJgMeAFLsBcRuUH4cEFvhUsyITRBkJS6TiQYgxb5AfAYJW+FTvBmId0H5i4D4GCEbiAo6RlyeoYoHRxUPacWMjIwMQMwKxBZADOYTMtkQiKWAWIuQM+SAWAbKVwNicfrnQRYglgdiYySxo0D8EpfJD4H4CZR/C5dCZADKexYwZ43mwVHF5OZBEC3DCAEETZYEYl4gFiXkDH4g5oPyhaFVxgDkQX5omQEDj4H4Cy6TPwLxJyj/LS6FMJNB4DnU/a/xOQMgwACLFl2Yo1jbdgAAAABJRU5ErkJggg==);
  background-position: right -1.4rem;
}

.apply:hover div {
  background-position: right 0.6rem;
}

.apply.inactive div {
  background: right -3.4rem;
}

.apply select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0.5rem;
  color: rgb(60, 60, 60);
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  margin: 0.2rem 0 0 0;
  outline: none;
  padding: 0 0 0 0.7rem;
  width: 110% !important;
  min-width: 17rem;
}

.apply.inactive select {
  cursor: default;
}

.apply select:hover {
  background-position: right -1.6rem;
}

.apply button,
.apply-button-right,
.apply-button-left,
.apply-label-right,
.apply-label-left {
  margin: 0;
  padding: 0 1rem;
  border: none;
  border-left: 0.1rem solid rgba(0, 0, 0, 0.15);
  border-right: none;
  border-radius: 0 0.4rem 0.4rem 0;
  line-height: 1.85;
  height: 1.85rem;
  float: right;
  font-family: $default;
  font-size: 1em;
  text-transform: none;
}

.apply-button-left,
.apply-label-left {
  float: left;
  border-left: none;
  border-right: 0.1rem solid rgba(0, 0, 0, 0.15);
  border-radius: 0.4rem 0 0 0.4rem;
}

.apply.inactive button,
.apply.inactive button:hover {
  color: rgba(60, 60, 60, 0.8);
  border-left: 0.1rem solid rgba(0, 0, 0, 0.15);
  box-shadow: none;
  cursor: default;
}

.apply:hover button {
  border-left: 0.1rem solid rgba(0, 0, 0, 0.25);
}

/* Single select "With selected…" */

.apply.single {
  border: none;
}

.apply.single select {
  display: none;
}

.apply.single button {
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
  border-bottom-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
  height: auto;
  white-space: nowrap;
}

.apply.single button:before {
  display: none;
}

/* Inline buttons, aligned left */

fieldset input[type=submit],
fieldset button,
fieldset .button {
  margin-left: 0;
  margin-right: 1rem;
}

// FILTERING
// -------------------------------------------------

.filtering .selectize-input {
  padding: 0 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  height: 2.2rem;
  background: #fff;
  color: rgba(85, 85, 85, 0.95);
  font-family: $default;
  font-size: 1em;
  line-height: 2rem;
}

.filtering-search .selectize-input.has-items {
  background: darken(white, 2%);
}

#drawer-filtering {
  margin-top: 30px;
}


// TABLES
// -------------------------------------------------

table {
  thead {
    font-size: 12px;

    th {
      padding: 10px 0;
    }

    th, a {
      font-weight: bold;
    }
  }
  tbody {
    font-size: 12px;
  }
}

th:last-child,
td:last-child {
  padding-right: 19px;
}


// COLLAPSIBLE
// -------------------------------------------------

.collapsible .content {
  background: white;
}


// TAGS
// -------------------------------------------------

ul.tags li,
ul.tags li:first-of-type,
ul.tags li:last-of-type {
  font-size: 12px;
}


// FOOTER
// -------------------------------------------------

#version {
  font-size: 12px;
}