// MIXINS
// -------------------------------------------------

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
          box-shadow: $shadow;
}

// VARIABLES
// -------------------------------------------------

$color-header: #342e2e;

// NOTICES
// -------------------------------------------------

.notifier {
  overflow: hidden;
  background: $color-header;
  border-bottom: 0.1rem solid lighten($color-header, 5%);
}

@-webkit-keyframes success {
  to {
    background-color: darken($color-header, 1%);
    border-color: lighten($color-header, 2%);
    color: #9b9b9b;
  }
}
@-webkit-keyframes successlink {
  to {
    color: #e6e6e6;
    color: rgba(255,255,255,.85);
    border-color: lighten($color-header, 15%);
  }
}

/* Internet Explorer */

@-ms-keyframes success {
  to {
    background-color: darken($color-header, 1%);
    border-color: lighten($color-header, 2%);
    color: #9b9b9b;
  }
}

@-ms-keyframes successlink {
  to {
    color: #e6e6e6;
    color: rgba(255,255,255,.85);
    border-color: lighten($color-header, 15%);
  }
}

/* Opera */

@-o-keyframes success {
  to {
    background-color: darken($color-header, 1%);
    border-color: lighten($color-header, 2%);
    color: #9b9b9b;
  }
}

@-o-keyframes successlink {
  to {
    color: #e6e6e6;
    color: rgba(255,255,255,.85);
    border-color: lighten($color-header, 15%);
  }
}

/* W3C */

@keyframes success {
  to {
    background-color: darken($color-header, 1%);
    border-color: lighten($color-header, 2%);
    color: #9b9b9b;
  }
}

@keyframes successlink {
  to {
    color: #e6e6e6;
    color: rgba(255,255,255,.85);
    border-color: lighten($color-header, 15%);
  }
}

.notice {
  position: relative;
  margin: 0;
  padding: 0.4rem 9rem 0.3rem 1.8rem;
  border-bottom: 0.1rem solid #514747;
  color: #9b9b9b;
  background: $color-header;
  width: 100%;
  box-sizing: border-box;
}

.notice a {
  color: #c4c0c0;
  border-bottom: 0.1rem solid rgba(189, 195, 195, 0.2);
  margin: 0 0.3rem;
}

// HEADER
// -------------------------------------------------

#header h1 {
  background: #342e2e;
  text-shadow: 0 0.1rem 0.2rem #151313;

  &:before {
    content: "•";
    position: relative;
    top: 1px;
    margin-right: 7px;
    color: #b40b51;
    font-size: 120%;
    line-height: 70%;
    text-shadow: none;
  }
}

// NAV
// -------------------------------------------------

#nav {
 background: #f1f1f1;
 @include box-shadow(none);
 border-bottom: 0.1rem solid #E0E0E0;
}

// CONTEXT
// -------------------------------------------------

#context {
  background-color: #fafafa;
}